.card {
    display: flex;
    border: 4px solid #370617;
    padding: 5px;
    margin: 15px;
    width: 450px;
    height: 224px;
    border-radius: 10px;
    background-color: #660708;

    &__image {
        width: 140px;
        height: 224px;
    }
    &__text::-webkit-scrollbar {
        display: none;
    }
    &__text {
        padding: 5px;
        margin: 15px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        text-align: left;

        &__title {
            font-weight: bold;
            // height: 50%;
            margin-top: 0;
        }
        &__authors {
            font-style: italic;
        }
        &__paragraph::-webkit-scrollbar {
            display: none;
        }
        &__paragraph {
            margin-top: 0;
            display: none;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: scroll;
            height: 100%;
        }
    }
    :hover > & {
        &__text {
            &__title {
                display: none;
            }
            &__authors {
                display: none;
            }
            &__paragraph {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .card {
        width: fit-content;
        height: fit-content;
        &__text {
            display: none;
        }
    }
}
